.vs/
packages/
SearchFileConsoleApp/bin/Debug/x86/SQLite.Interop.dll
SearchFileConsoleApp/bin/Debug/x64/SQLite.Interop.dll
SearchFileConsoleApp/bin/Debug/Test.db3
SearchFileConsoleApp/bin/Debug/System.Data.SQLite.xml
SearchFileConsoleApp/bin/Debug/System.Data.SQLite.dll.config
SearchFileConsoleApp/bin/Debug/System.Data.SQLite.dll
SearchFileConsoleApp/bin/Debug/System.Data.SQLite.Linq.dll
SearchFileConsoleApp/bin/Debug/System.Data.SQLite.EF6.dll
SearchFileConsoleApp/bin/Debug/Serilog.xml
SearchFileConsoleApp/bin/Debug/Serilog.pdb
SearchFileConsoleApp/bin/Debug/Serilog.dll
SearchFileConsoleApp/bin/Debug/Serilog.Sinks.File.xml
SearchFileConsoleApp/bin/Debug/Serilog.Sinks.File.dll
SearchFileConsoleApp/bin/Debug/log20181226.txt
SearchFileConsoleApp/bin/Debug/log20181225.txt
SearchFileConsoleApp/bin/Debug/EntityFramework.xml
SearchFileConsoleApp/bin/Debug/EntityFramework.dll
SearchFileConsoleApp/bin/Debug/EntityFramework.SqlServer.xml
SearchFileConsoleApp/bin/Debug/EntityFramework.SqlServer.dll
SearchFileConsoleApp/obj/Debug/SearchFileConsoleApp.csproj.CopyComplete
SearchFileConsoleApp/bin/
SearchFileConsoleApp/obj/
